.field {
    &__input {
        @include fluid-text(20, 16);
        color: rgb(113, 113, 113);
        border: none;
        padding: 16px;
        background-color: inherit;
        width: 100%;
        border-radius: 20px;
    }
}