.information {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;

    @media (min-width: $tablet-b-above) and (max-width: 900px) {
        margin-top: 0;
    }

    @include tablet-b {
        flex-direction: column;
    }

    @include mobile {
        margin-top: 0;
    }

    &__header {
        margin-bottom: 20px;

        @include tablet-b {
            margin-bottom: 30px;
        }

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;

        @media (min-width: $tablet-b-above) and (max-width: 900px) {
            justify-content: flex-end;
        }

        @include tablet-b {
            margin-top: 40px;
            margin-left: 0;
        }

        @include mobile {
            margin-top: 0;
        }
    }

    &__title {
        @include fluid-text(40, 24);
        font-weight: 500;
    }

    &__description {
        @include fluid-text(18, 16);
    }

    &__team {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include fluid-gap(30, 25);
        max-width: 50%;
        margin-top: 30px;

        @media(min-width: $tablet-b-above) and (max-width: 900px) {
            max-width: 80%;
        }

        @include tablet-s {
            max-width: 70%;
        }

        @include mobile {
            max-width: 100%;
        }
    }
}