@import "./variables";

.container {
  max-width: calc($container-width + $container-padding-x * 2);
  margin: 0 auto;
  padding: 0 $container-padding-x;

  @include tablet-s {
    &-full {
      width: 100% !important;
      padding: 0 !important;
    }
  }

  @include tablet-s {
    &-mobile {
      padding-inline: $container-padding-x;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.visible-tablet-s {
  @include tablet-s-above {
    display: none !important;
  }

  @include mobile {
    display: none !important;
  }
}

.visible-tablet-mobile {
  @include tablet-s-above {
    display: none !important;
  }
}

.hidden-tablet-s {
  @media (min-width: $mobile-above) and (max-width: $tablet-s) {
    display: none !important;
  }
}