$color-dark: rgb(44, 45, 53);
$color-medium: rgb(89, 141, 102);
$color-description: rgb(134, 146, 139);
$color-light: rgb(244, 246, 245);
$color-white: rgb(255, 255, 255);
$color-dark-green: rgb(55, 107, 68);
$color-yellow: rgb(163, 131, 20);

$background-header: rgb(225, 237, 230);
$background-light: rgb(212, 232, 217);
$background-dark-yellow: rgb(217, 185, 73);
$background-medium-yellow: rgb(238, 219, 109);
$background-light-yellow: rgb(250, 235, 151);

$border: 1px solid $color-medium;
$border-radius: 20px;
$border-padding: 20px;

$font-family-base: 'Raleway', sans-serif;

$container-width: 1110px;
$container-padding-x: 33px;

$section-padding-y: 70px;

$button-height: 65px;

$transition-duration: 0.2s;